.slightly-less-jumbo-jumbotron {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1rem;
}

.board-container {
    margin-top: 1rem;
    padding: 1rem;
}

.coordinate {
    height: 24px;
    width: 24px;
    margin: 0.2em;
    padding: 0;
}

.coordinate img {
    height: 22px;
    width: 22px;
    margin: 0;
    padding: 0;
}

.form-inline .form-group + .form-group {
    margin-left: 1.5em;
}

.hide {
    display: none;
}